@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;






body {
    text-align: center;
    background-color: #DDFFFF;
    
    
}

a { 
    font-size:150%;
    font-weight: bold;
    text-decoration: none; 
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    color:blue;
}
a:active{
    color:black;
}

.col-form-label {
    
}

