@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    text-align: left;
    padding: 15px 100px;
    font-size: 15px;
}

.text{
    font-weight: normal
}

.endday {
    font-size: 40px;
}