@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-align: left;
    margin-left: 50px;
    
}
p{
    text-indent:2rem;
}

.small{
    font-weight: normal;
    line-height: 10px;
}